---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import background from "../assets/background.svg";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonical?: string;
  noindex?: boolean;
}

const { title = "Travowl", description = "Offline Travel Manager" } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>
  <body class="bg-offwhite text-antialiased scroll-smooth">
    <img
      src={background.src}
      alt=""
      fetchpriority="high"
      class="fixed top-0 left-0 z-[-1] h-full w-full blur-[100px]"
    />
    <Header />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
